include components/page-navigator.pug
include components/post-card.pug
include components/post-meta.pug
include components/license.pug
include components/labeled-card.pug
include components/multi-language.pug
include components/giscus.pug

- clear_build()

doctype html 
html(lang=page.language)
    head
        block head
            meta(charset='utf-8')
            meta(name="darkreader-lock")
            meta(name="viewport",content="width:device-width,initial-scale=1.0")
            meta(name="author" content=page.author || ctx.config.author)
            link(rel="icon",href=url_for("icon.svg"))
            link(rel='stylesheet',href=url_for('css/_color.css'))
            link(rel='stylesheet',href=url_for('css/font.css'))
            link(rel='stylesheet',href=url_for('css/admon-extra.css'))
            link(rel='stylesheet',href=url_for('css/global.css'))
            link(rel='stylesheet',href=url_for('css/global_frame.css'))
            link(rel='stylesheet',href=url_for('css/global_side.css'))
            link(rel='stylesheet',href=url_for('css/global_page.css'))
            link(rel='stylesheet',href=url_for('css/global_widgets.css'))
            script(src='https://lib.baomitu.com/pjax/0.2.8/pjax.min.js')
            script(type="module",src=url_for('es/ui.js'))

    body(class='anim-ready')
        .loading-circle(aria-hidden="true")
        header#globalHeader
            block header
                .links
                    a.--smooth.home(href=url_for('/'))
                        != _icon('material-symbols:home','rounded')
                        b!= __('Home')
                    a.--smooth.archives(href=url_for('/archives/0/'))
                        != _icon('material-symbols:archive','rounded')
                        b!= __('Archives')
                    a.--smooth.categories(href=url_for('/categories'))
                        != _icon('material-symbols:category','rounded')
                        b!= __('Categories')
                    a.--smooth.tags(href=url_for('/tags'))
                        != _icon('material-symbols:tag','rounded')
                        b!= __('Tags')
                    a.--smooth.about(href=url_for('/posts/about.md'))
                        != _icon('material-symbols:for_you','rounded')
                        b!= __('About')
                .operations
                    #headerButtonSearch.RPL!= _icon('material-symbols:search','rounded')
                    #headerButtonToggle.toggle.RPL!= _icon('material-symbols:menu','rounded')
                .operation-container
                    #headerComponentSearch
                        .queryContainer 
                            input
                            button.clear!= _icon('material-symbols:refresh','rounded')
                            button.search!= _icon('material-symbols:search','rounded')
                        .resultContainer
        main#globalMain
            #leftColWrapper
                #leftCol
                    block left
            #rightCol
                block right
            #centerCol(lang=page.language)
                block content
                block center
        footer#globalFooter
            block footer
