mixin post-card(item)
    a.postCard.--smooth(href=url_for(item.relative_path))
        .wrapper
            if item.properties.__is_generated_image
                .imageWrapper.svg
                    != item.properties.image
            else
                .imageWrapper.img(style=`background-image:url(${item.properties.image})`)
            date.time!= item.date.format('MMM D, YYYY')
            h2.title!= item.title
            span.excerpt!= item.excerpt
    //- .post-card(class=item.properties.image&&'image')
    //-     .contentBox
    //-         header.title
    //-             a.--smooth(href=url_for(item.relative_path))
    //-                 h2= item.title
    //-         +post-meta(item)
    //-         .excerpt!= item.excerpt
    //-         .length
    //-             - let evlTime = Math.ceil(item.length/250)
    //-             .wordCount= item.length+' '+__('words')
    //-             .hr
    //-             .evlTime= evlTime+' '+__(evlTime==1?'Minute':'Minutes')
    //-     a.--smooth.readMore(href=url_for(item.relative_path),style=item.properties.image&&'background-image: url('+item.properties.image+')')
    //-         .cover!= _icon('material-symbols:chevron_right','rounded')
    //-         .button